*{
    margin: 0px;
    padding:0 px;
  }
.main-header-div
{
  background-color: rgb(254, 189, 1);
   
    width: 100%;
    height: 50px;

    margin: auto;
}
.main-header-div>h2
{
padding:.5%;
margin-left: 2%
}

.header-background
{
    width: 100%;
    margin: auto;
    height: 350px;
   
}.header-background>img
{
    width: 100%;
    margin: auto;
}